    
<img src="~/Images/biertempel.png" alt="logo" width="100%"/>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p style="text-align:center">- De Biertempel - Hoppestraat 103 - 3360 BierBeek - tel. 016123456 - email: info@biertempel.be</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

